@use "../abstracts/variables" as *;

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

@mixin flex-col-center{
    @include flex-center;
    flex-direction: column;
}

@mixin flex-row-center{
    @include flex-center;
    flex-direction: row;
}

@mixin transition {
    transition: all 0.4s;
}

@mixin mdScreen{
    @media (min-width:48em){
        @content;
    }
}

@mixin bgImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: $border-r-sm;
    width:100%;
}