@use "../abstracts" as *;
.banner{

  
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.82), rgba($clr-secondary, 0.73)),
    url("/images/banner-bg2.jpeg");
   @include bgImg;
   background-repeat: repeat;
   background-size: contain;

    padding:12rem 3rem;
    text-align: center;
    @include flex-col-center;
    gap:4rem;

    &__title{
        color:$clr-primary-shade;
        font-size: 3.2rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    line-height: 1.5;


@include mdScreen{
    font-size: 5rem;
    width:70rem;
}
    }
}

