@use "../abstracts" as *;
.movie {
  position: relative;
  padding:0;
  gap:1rem;

  @include mdScreen{
    max-width: 28rem;
  }



  &__title {
    text-align: left;
    text-transform: capitalize;
  }

  &__cont{

    width:100%;
    padding: 2rem;

  }
  &__status {
    background-color: $clr-secondary;
    padding: 1rem 3rem;
    border-radius: 0.2rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  &__genre{
    color:$clr-secondary;
  }
}
