 @use '../abstracts' as *;
.price-card{
   
    background-color: $clr-primary;
    padding:8rem 1rem;
  

}

.price {

    &__amount{
        font-size:8rem;
        color:$clr-secondary;
        font-weight: 700;
    }
}