.icon--sm{

    width:8rem;
}
.icon--xs{

    width:3rem;
}
.txt-center{
    text-align: center;
}

.upper{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
.margin-b-xs{
    margin-bottom: 1rem;
}
.margin-b-m{
margin-bottom: 5rem;
}
.margin-b-l{
margin-bottom: 8rem;
}