.icon--sm{

    width:8rem;
}
.icon--xs{

    width:3rem;
}
.txt-center{
    text-align: center;
}

.upper{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
.margin-b-xs{
    margin-bottom: 1rem !important;
}
.margin-b-sm{
    margin-bottom: 3rem !important;
}
.margin-b-m{
margin-bottom: 5rem !important;
}

.margin-b-l{
margin-bottom: 8rem !important;
}
.margin-b-xl{
margin-bottom: 15rem !important;
}

.margin-t-m{
    margin-top: 5rem !important;
    }
.margin-t-l{
    margin-top: 8rem !important;
    }